<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>d3-waffle</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <center style='font-family:benton-sans;font-size:18px'>How will California's college students attend school in the fall?</center></br>
    <button onclick="update(data1)">All&nbsp;</button>
    <button onclick="update(data2)">Public Colleges&nbsp;</button>
    <button onclick="update(data3)">Private Colleges&nbsp;</button>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript">
function d3waffle() {
  let margin = { top: 75, right: 0, bottom: 10, left: 50 },
    icon = '&#9632;',
    scale = 1,
    rows = 15,
    adjust = 0.8,
    colorscale = d3.scaleOrdinal(d3.schemeCategory10),
    appearancetimes = function (d, i) { return 500; },
    magic_padding = 5;
    width_waffle = pageWidth;
    width_waffle = Math.min(width_waffle, 1000 - margin.left - margin.right)
    if (pageWidth < 900) {width_waffle = 900;}
    if (pageWidth < 500) {width_waffle = 600;}
    //if (width_waffle < 600) {width_waffle=700;}
    height = (1.2 * width_waffle) - margin.bottom - margin.top;

  function chart(selection) {
    selection.each((data) => {
      selection.selectAll('*').remove();

      /* setting parameters and data */
      const idcontainer = selection._groups[0][0].id; // I need to change thiz plz
      const total = d3.sum(data, d => d.value);

      /* updating data */
      data.forEach((d, i) => {
        data[i].class = slugify(d.name);
        data[i].scalevalue = Math.round(data[i].value * scale);
        data[i].percent = data[i].value / total;
      });

      const totalscales = d3.sum(data, d => d.scalevalue);
      const cols = Math.ceil(totalscales / rows);
      const griddata = cartesianprod(d3.range(cols), d3.range(rows));
      const detaildata = [];

      data.forEach((d) => {
        d3.range(d.scalevalue).forEach((e) => {
          detaildata.push({ name: d.name, class: d.class });
        });
      });

      detaildata.forEach((d, i) => {
        detaildata[i].col = griddata[i][0];
        detaildata[i].row = griddata[i][1];
      });

      /* console.log("detail data length: ", detaildata.length) */

      const gridSize = ((height - margin.top - margin.bottom) / rows);

      /* setting the container */
      xpos = 40
      if (pageWidth > 900) {xpos = 100};
      const svg = selection.append('svg')
            .attr('width', width_waffle)
            .attr('height', height)
            .append('g')
            .attr('transform', `translate(${xpos},${margin.top})`)
            .style('cursor', 'default');

      const tooltip = d3.select('body')
            .append('div')
            .attr('class', 'waffle-tooltip')
            .attr('x', '-100px')
            .style('position', 'absolute')
            .style('text-align', 'left')
            .style('font-family', 'benton-sans')
            .style('background', 'white')
            .style('margin', '3px')
            .style('color', 'black')
            .style('padding', '3px')
            .style('border', '0px')
            .style('border-radius', '3px') // 3px rule
            .style('opacity', 0)
            .style('cursor', 'default');

      const nodes = svg.selectAll('.node')
            .data(detaildata)
            .enter().append('g')
            .attr('class', 'node')
            .attr('transform', d => `translate(${(d.col) * gridSize},${(rows - d.row - 1) * gridSize})`);

      /* this is necesary, when the icons are small/thin activate mouseout */
      nodes.append('text')
            .style('opacity', 0)
            .html(icon)
            .attr('class', d => d.class)
            .attr('font-family', 'FontAwesome')
            .attr('transform', d => `translate(${gridSize / 2},${5 / 6 * gridSize})`)
            .style('text-anchor', 'middle')
            .style('fill', d => colorscale(d.class))
            .style('font-size', function (d) {
              val = 9;
              val2 = 2.5;
              textsize = Math.min(val2 * gridSize, (val2 * gridSize - val) / this.getComputedTextLength() * val);
              return `${textsize * adjust}px`;
            })
            .on('mouseover', mouseover)
            .on('mouseout', mouseout)
            .on('mousemove', mousemove)
            .transition()
            .duration(appearancetimes)
            .style('opacity', 1);

      nodes.append('rect')
            .style('fill', 'white')
            .attr('class', d => d.class)
            .style('stroke', 'gray')
            .attr('width', gridSize)
            .attr('height', gridSize)
            .on('mouseover', mouseover)
            .on('mouseout', mouseout)
            .on('mousemove', mousemove)
            .style('opacity', 0);


      legend_pos = 320 * 0.7 * (width_waffle/800)
      if (width_waffle == 600) {legend_pos = 200}
      const legend = svg.selectAll('.legend')
          .data(data)
          .enter().append('g')
          .attr('class', d => `${'legend' + ' '}${d.class}`)
          .attr('transform', d => `translate(${(width_waffle - legend_pos)+ magic_padding},${magic_padding})`);

      legend.append('text')
            .attr('x', gridSize)
            .attr('y', (d, i) => i * gridSize + i * magic_padding / 2)
            .style('opacity', 1)
            .html(d => icon)
            .attr('class', d => d.class)
            .attr('font-family', 'FontAwesome')
            .attr('transform', d => `translate(${gridSize / 2},${5 / 6 * gridSize})`)
            .style('fill', d => colorscale(d.class))
            /* .style("font-size", function(d) {
              val = 9;
              val2 = 2.5;
              textsize = Math.min(val2 * gridSize, (val2 * gridSize - val) / this.getComputedTextLength() * val);
              return textsize * adjust + "px";
            }); */

      legend.append('text')
            .attr('x', 1.5 * gridSize + magic_padding)
            .attr('y', (d, i) => i * gridSize + i * magic_padding / 2)
            .attr('font-family', 'benton-sans')
            .style('font-size', 18)
            .style('opacity', 1)
            .html(d => d.name)
            .attr('class', d => `${'waffle-legend-text' + ' '}${d.class}`)
            .attr('transform', d => `translate(${gridSize / 2},${5 / 6 * gridSize})`);

      function mouseover(d) {
        tooltip.transition().duration(100).style('opacity', 0.9);
        el = data.filter(e => e.name == d.name)[0];
        txt = `<b>${el.name}</b><br>${d3.format(',')(el.value)}<br>(${d3.format('.0%')(el.percent)})`;
        tooltip.html(txt);

        d3.select(`#${idcontainer}`).selectAll('text').transition().duration(100).style('opacity', 0.2);
        d3.select(`#${idcontainer}`).selectAll(`text.${d.class}`).transition().duration(100).style('opacity', 1);
      }

      function mouseout(d) {
        tooltip.transition().duration(100).style('opacity', 0);
        d3.select(`#${idcontainer}`).selectAll('text').transition().duration(100).style('opacity', 1);
      }

      function mousemove(d) {
        tooltip
            .style('left', `${d3.event.pageX + 0}px`)
            .style('top', `${d3.event.pageY + -70}px`);
      }
    });
  }

  chart.width = function (_) {
    if (!arguments.length) return width;
    width = _;
    return chart;
  };

  chart.height = function (_) {
    if (!arguments.length) return height;
    height = _;
    return chart;
  };

  chart.rows = function (_) {
    if (!arguments.length) return rows;
    rows = _;
    return chart;
  };

  chart.icon = function (_) {
    if (!arguments.length) return icon;
    icon = _;
    return chart;
  };

  chart.scale = function (_) {
    if (!arguments.length) return scale;
    scale = _;
    return chart;
  };

  chart.colorscale = function (_) {
    if (!arguments.length) return colorscale;
    colorscale = _;
    return chart;
  };

  chart.appearancetimes = function (_) {
    if (!arguments.length) return appearancetimes;
    appearancetimes = _;
    return chart;
  };

  chart.adjust = function (_) {
    if (!arguments.length) return adjust;
    adjust = _;
    return chart;
  };

  return chart;
}

function slugify(text) {
  return text.toString().toLowerCase()
    .replace(/\s+/g, '-')           // Replace spaces with -
    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
    .trim();                        // Trim - from end of text
}

/* http://stackoverflow.com/questions/12303989/cartesian-product-of-multiple-arrays-in-javascript */
function cartesianprod(paramArray) {
  function addTo(curr, args) {
    let i,
      copy,
      rest = args.slice(1),
      last = !rest.length,
      result = [];

    for (i = 0; i < args[0].length; i++) {
      copy = curr.slice();
      copy.push(args[0][i]);

      if (last) {
        result.push(copy);
      } else {
        result = result.concat(addTo(copy, rest));
      }
    }

    return result;
  }


  return addTo([], Array.prototype.slice.call(arguments));
}
        var data1 = [{"name": "Online", "value": 426366}, {"name": "Hybrid", "value": 208036}, {"name": "In-person", "value": 65740}, {"name": "Other", "value": 30693}];
        var data2 = [{"name": "Online", "value": 406459}, {"name": "Hybrid", "value": 181658}, {"name": "In-person", "value": 0}, {"name": "Other", "value": 23070}];
        var data3 = [{"name": "Online", "value": 19907}, {"name": "Hybrid", "value": 26378}, {"name": "In-person", "value": 65740}, {"name": "Other", "value": 7623}];

      function update(data) {
        rows = 5
        if (pageWidth < 400) {rows = 6}
        var chart_public = d3waffle()
                        .rows(rows)
                        .scale(1/8000)
                        .icon("&#xf007;")
                        .adjust(0.6)
                        .colorscale(d3.scaleOrdinal().range([ "#338A6C", "#8F679C", "#d18975", "#479BD1", "#f4803f", ]))
                        .appearancetimes(function(d, i){
                          mod = 13;
                          val = i % mod;
                          return val / mod * 1500;
                        })
                        .height(250);

        d3.select("#container-1")
          .datum(data)
          .call(chart_public);
      }
    </script>
</head>
<body>
<div class="container" id="container-1"></div>
</body>
</html>
